.hero-container{
    display:flex;
    align-items: center;
    gap: 40px;
    background-color: aquamarine;
    padding: 25px;
    font-size: 1.25em;
    border-radius: 20px;
    border:2px solid black;
    color:blueviolet;


}

.hero-container img{
    width:100%;
    height:400px;
    border-radius: 20px;

}

body{
    max-width: 1270px;
    background-color:cornflowerblue;
    margin:0 auto;
}

.hero-container button{
    color: brown;
    background-color:aqua;
    padding:10px 30px;
    font-size: 1.25em;
    border-radius: 10px;
    cursor: pointer;
}

.hero-container button:hover{
    background-color:lightgrey;
}