body{
    max-width:1170px;
    background-color:bisque;
    margin: 0 auto;
}
.card-section{
    text-align: center;


}

.card-section h2{
    color:blue;
}

.card-section p{
    color:blue;
}
.card-container{
    display:flex;
    flex-wrap: wrap;
    gap:50px ;
}



.card:hover{
    background-color:rgba(10, 124, 124, 0.516);

}
.card{
    width: 300px;
    text-align: left;
    border: 2px solid brown;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 15px 15px 5px lightgrey;
    background-color:aquamarine;
    color:coral;
    cursor: pointer;


}
.card p{
    color:blueviolet;
}

.card h3{
    font: 1.25em;

}

.card img{
    width: 100%;
    border-radius: 10px;
}

.card button{
    color: brown;
    background-color:aqua;
    padding:10px 30px;
    font-size: 1.25em;
    border-radius: 10px;
    cursor: pointer;
}

footer{
    text-align: center;
    color: red;
    text-decoration: underline;

}