nav ul{
    display: flex;
    /* align-items: center; */
    justify-content:end;
    
}
nav li{
    list-style: none;
    margin-right:30px ;
    /* align-items: center; */


}
nav li a{
    text-decoration: none;
    color: black;
    
}
nav li:hover{
    background-color: lightgray;

}